body {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 150px;
}

p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
}

.btn {
    background-color: cadetblue;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: darkcyan;
    color: black;
}